<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
  <mapper namespace="org.hj.mapper.LoginMapper">
  	
  	<!--  회원가입한 값을 넣어줌 -->	
  	<insert id = "joinSuccess" parameterType="org.hj.model.LoginVO">
  		insert into user(id, password, email, uname) values(
  			#{id}, #{password}, #{email}, #{uname}
  			)
  	</insert>
  	
  	<!--  로그인할 때 값을 가져옴 -->	
  	<select id="login" resultType="org.hj.model.LoginVO">
  		select id, password
  		from user
  		where id=#{id} and password=#{password}
  	</select>
  
  </mapper>